<section id="faq" >
  <div class="header">
    <h2>Frequently Asked Questions</h2>
  </div>
  <div style="width: 90%; margin: auto;">

  
  <mat-accordion class="faq-accordion">
    <!-- Question 1 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Open Hackathon Competition
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Oriental Hackathon 2k23 is open to all Engineering and Non-Engineering students across India. Whether you are pursuing a degree in technology, science, or any other discipline, you are welcome to participate and showcase your innovative solutions to real-world challenges.
      </p>
    </mat-expansion-panel>

    <!-- Question 2 -->
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rules and Regulations
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        To ensure fair and exciting competition, the hackathon follows the following rules and regulations:
</p>
        <ol>
          <li>This will be a 2-day event named “Oriental Hackathon - Powered by Cybrom Technology”.</li>
          <li>Maximum 100 teams can participate in the event.</li>
          <li>Each team can have a maximum of 5 students + 1 Mentor (Faculty Member).</li>
          <li>Prize Money: The winning team will receive INR 51,000, and the runner-up team will receive INR 21,000.</li>
          <li>Scholarship: Exceptional participants have the chance to win scholarships worth up to INR 1,00,000.</li>
          <li>All participants will receive a "Certificate of Participation."</li>
          <li>The registration fee for each participating team is INR 800 per team.</li>
          <li>Accommodation: For outstation teams, accommodation will be available at nominal charges.</li>
        </ol>
 
    </mat-expansion-panel> -->

    <!-- Question 3 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          The themes for the Hackathon are as follows
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The hackathon will focus on the following themes, allowing participants to innovate and create solutions in diverse domains:
</p>
        <ol>
          <li>Smart Mechanization</li>
          <li>Smart Agriculture</li>
          <li>Smart AI</li>
          <li>Smart IOT</li>
          <li>Smart App</li>
        </ol>
     
    </mat-expansion-panel>

    <!-- Question 4 -->
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Event Flow
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Day-1 (Round 1)</p>
        <ol>
          <li>Problem Statement Distribution: Participants will receive the problem statement for their projects.</li>
          <li>PPT Presentation: Each team will present their project ideas based on the selected problem statement.</li>
          <li>Finalist Selection: Out of all the presentations, finalist teams will be chosen for Round 2.</li>
        </ol>
        Round 2
        <ol>
          <li>Finalists Announcement: The names of the finalist teams will be announced over website.</li>
          <li>On Spot Work Flow Creation &amp; Submission: Finalists will work on their projects on the spot and submit their solutions.</li>
        </ol>
        Day-2 (Final Round)
        <ol>
          <li>Event Length: The final round will last for 8 hours.</li>
          <li>Mentor: Each team can have 01 mentor to guide them during the event.</li>
          <li>Rounds: There will be 2 rounds.</li>
          <li>Round 1: Two hours long, where participants will present their initial progress.</li>
          <li>Round 2: Six hours long, where selected candidates from Round 1 will further develop and enhance their projects.</li>
        </ol>
        On the basis of the performance in Round 2, the winners will be decided. Note: Participants are requested to have lunch at the competition table itself to save time.


    </mat-expansion-panel> -->

    <!-- Question 5 -->
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          For Hostel Booking
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        If you require assistance with hostel booking or have any accommodation-related inquiries, please <a href="https://oisthackathon.web.app/#contact">contact us</a>.
      </p>
    </mat-expansion-panel> -->

    <!-- Question 6 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Registration and Eligibility
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        To register for Oriental Hackathon 2k23, visit our official website and click on the "Apply Now" button. Fill out the registration form with your team's details, including the names of the team members and the faculty mentor. There is no registration fee to participate in the hackathon.

        Eligibility: The hackathon is open to students from all Indian colleges and universities. Both undergraduate and postgraduate students can form teams and participate. Students from diverse educational backgrounds, including engineering, technology, science, management, and others, are encouraged to take part in this exciting innovation event.

        Note: The event will follow a first-come-first-serve basis, and registration will close once we reach the maximum capacity of 100 participating teams. So, we recommend registering early to secure your spot.
      </p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Team Composition
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        How many members can participate in a team?
      </p>
      <p>
        Each team can have a minimum of 2 and a maximum of 5 participants. Additionally, each team must have one faculty member as a mentor to guide and support the students during the hackathon.
      </p>
    </mat-expansion-panel>
    <!-- Question 8 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What to Bring
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        What should participants bring to the hackathon?
      </p>
      <p>
        Participants are required to bring their laptops, chargers, and any other necessary equipment for coding and development. It's also advisable to carry personal items like water bottles, notepads, and writing materials to take notes and sketch out ideas.
      </p>
    </mat-expansion-panel>
    <!-- Question 9 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Internet and Connectivity
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Will the hackathon provide internet and Wi-Fi facilities?
      </p>
      <p>
        Yes, we will provide high-speed internet and Wi-Fi connectivity to all participants during the hackathon. You can seamlessly access online resources, research materials, and other necessary tools to develop your projects.
      </p>
    </mat-expansion-panel>
    <!-- Question 10 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Intellectual Property Rights
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Who will own the intellectual property rights to the projects developed during the hackathon?
      </p>
      <p>
        All intellectual property rights for the projects developed during the hackathon will belong to the respective teams. However, we encourage participants to openly share their innovations and ideas with the community and make them accessible for the greater good.
      </p>
    </mat-expansion-panel>
    <!-- Question 11 -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accommodation for Outstation Teams
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        How can outstation teams avail accommodation facilities during the hackathon?
      </p>
      <p>
        Outstation teams can avail 
      </p>accommodation facilities arranged by the organizing committee at nominal charges. To ensure a hassle-free stay, kindly contact our team at <a href="https://oisthackathon.web.app/#contact">contact us</a> to make the necessary arrangements.
    </mat-expansion-panel>

  </mat-accordion>
</div>
</section>
