.faq-accordion {
    width: 100%;
  }
  
  .header h2{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    color: #6EC1E400;
    letter-spacing: 4.01px;
    -webkit-text-stroke-width: 3px;
    stroke-width: 11px;
    -webkit-text-stroke-color: steelblue;
    stroke: #ffffff;
}
.faq-accordion mat-expansion-panel {
    margin-bottom: 15px;
  }
  
  .faq-accordion mat-expansion-panel-header {
    background-color: #ffffff;
    /* border: 1px solid #ccc; */
    /* border-radius: 27px; */
    padding: 8px 16px;
    /* font-weight: bold; */
    cursor: pointer;
  }
  
  .faq-accordion mat-panel-title {
    font-size: 16px;
  }
  
@media screen and (max-width: 430px) {

  .header h2 {
    font-size: x-large;
  }
}