<section id="faq" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="header">
        <h2>FAQ</h2>
      </div>
  
      <mat-accordion class="faq-accordion">
        <!-- Question 1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Open Hackathon Competition
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            (Open for all Engineering/ Non-Engineering students)
          </p>
        </mat-expansion-panel>
  
        <!-- Question 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Rules and Regulations
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <ol>
              <li>This will be a 2-day event named “Oriental Hackathon- Powered by Cybrom Technology”.</li>
              <li>Maximum 100 teams can participate in the event.</li>
              <li>1 Team can have a maximum of 4 students + 1 Mentor (Faculty Member)</li>
              <li>There will be Prize Money for the winner of INR 51,000/-&amp; for the Runner-up INR 21000/-</li>
              <li>Scholarship worth up to 1,00,000.</li>
              <li>“Certificate of Participation” for all the participants.</li>
              <li>The Registration fees for the participating teams will be INR 500/-per team</li>
              <li>Accommodation to outstation teams will be on nominal charges.</li>
            </ol>
            <p>
          </p>
        </mat-expansion-panel>
  
        <!-- Question 3 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              The themes for the Hackathon are as follows
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <ol>
              <li>Smart Mechanization</li>
              <li>Agronomics, Meals Tech &amp; Country Region Development</li>
              <li>Globetrotting</li>
              <li>Health &amp; Games</li>
              <li>Cyber Safety</li>
            </ol>
            <p>

          </p>
        </mat-expansion-panel>
  
        <!-- Question 4 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Event Flow
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Day-1 (Round 1)
            <ol>
              <li>Problem Statement distribution. (Problem Statement will be provided)</li>
              <li>PPT presentation by the Teams on the basis of selected problem statement.</li>
              <li>Out of which 20 finalist teams will be chosen. (Names will be announced in Round 2)</li>
            </ol>
            Round 2
            <ol>
              <li>20 Finalists’ name announcement.</li>
              <li>On Spot Work Flow Creation &amp; Submission by the selected teams.</li>
            </ol>
            Day-2 (Final Round)
            <ol>
              <li>Event Length - 8 hours</li>
              <li>Mentor - 01 mentor will be allowed (Faculty member)</li>
              <li>Rounds - 02</li>
              <li>Round 1 will be of two hours (Basic module)</li>
              <li>Round 2 candidates scrutinized in round one will be participating here it will be of six hours
                (Problem Statement)
              </li>
            </ol>
            On the basis of round 2 performances, the winners will be decided.
            Note: Lunch is to be taken on the competition table only.
            <p>

          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>
  