<!-- src/app/app.component.html -->
<div class="button-grid">
  <!-- <button mat-button class="grid-button" (click)="openPopup('11mNEkx42AETPgTu7DqcYT5_Rg8r9bj87')">Introduction and Essence</button> -->
    <button mat-button class="grid-button" (click)="openPopup('11mNEkx42AETPgTu7DqcYT5_Rg8r9bj87')">General Rules</button>
    <button mat-button class="grid-button" (click)="openPopup('1q5aWHqss3XKuw2ThjBg-GMIAiNKImbd-')">Submission Requirements and Demo</button>
    <button mat-button class="grid-button" (click)="openPopup('1e_FhiJeAM-IO6gXA5ZOTO7OebLXlbsVT')">Demo and Presentation</button>
    <button mat-button class="grid-button" (click)="openPopup('1wOj8fiFYinPdlQnRpvOg0m-AUOsk9Uka')">Judging Criteria</button>
  </div>
  