<div class="header">

    <h2> About Us</h2>
</div >
<mat-card style="width: 90%; margin: auto;">



  <mat-card-content>

    <p><b>
        <h1 style="display: inline;"> <b> Oriental Group</b></h1>
      </b> is a center of opportunity for students, academicians, and researchers who want to build a successful
      career.
      Our directors enjoy the highest salary packages in Central India, and our faculty members are paid above the
      AICTE full scale, with HRA/Accommodation facilities, LTC, local transport, and assured promotion policy with a
      number of performance-linked incentives.
    </p>
    <p>
      Oriental Group of Institutes was started by the founder Chairman Dr. KL Thakral in 1995. We are a
      self-financed premier educational group imparting quality education in the disciplines of Engineering,
      Pharmacy, Management, and Advanced Computer Studies. We have colleges in Bhopal, Indore, and Jabalpur, and we
      have a significant presence in the Central region. We also have a private university, Oriental University, in
      Indore.
    </p>
    <p>
      Our vision is to become a “Centre of Excellence” with emphasis on quality teaching and research so as to
      deliver comprehensively trained, innovative engineers and enterprising, competent professionals, who are
      ethically responsible to serve the society.
    </p>
    <p>
      Here are some of the things that make Oriental Group unique:
    <ul>
      <li>Our institutes are the most preferred choice of the successful students of exams/tests of IIT
        JEE/MAT/Pre-MCA</li>
      <li>Our CAD/CAM lab is developed as a Centre for Excellence to strengthen research activities in product and
        development</li>
      <li>Our Centre for Innovation and Technological Enhancement (CITE) is a para-institutional body providing
        resources for startups</li>
      <li>Our students have won numerous awards and honors, including special honors from RGPV, the affiliating
        University</li>
      <li>Our students are actively involved in co-curricular and extracurricular activities</li>
      <li>We have a high placement rate, with more than 80% of our eligible students getting placed</li>
      <li>We have a strong alumni network, with members working in some of the best organizations in the world</li>
    </ul>

    <p>
      We are proud to be a center of opportunity for so many people. We are committed to providing quality education
      and research, and we are confident that our graduates will make a positive impact on the world.
    </p>
    <p>
      <a href="https://oistbpl.com/" target="_blank">Learn more about Oriental Group</a>
    </p>
  </mat-card-content>
</mat-card>