<h2 mat-dialog-title>{{ theme.title }}</h2>
<div mat-dialog-content>
  <img [src]="theme.imageUrl" alt="{{ theme.title }}" >
  <p style="text-align: center;"><b>Choose any 1  Problem :</b> </p>
  <ng-container *ngFor="let problem of theme.problemStatements">
    <p><b>Problem Statement -</b> {{ problem.title }}</p>
    <p><b>Objective:</b> {{ problem.objective }}</p>
    <p>{{ problem.description }}</p>
  </ng-container>
  <!-- Add more details here -->
</div>
<div mat-dialog-actions>
  <button style="float: right;" mat-button color="warn" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
