.header h2{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    color: #6EC1E400;
    letter-spacing: 4.01px;
    -webkit-text-stroke-width: 3px;
    stroke-width: 11px;
    -webkit-text-stroke-color: steelblue;
    stroke: #ffffff;
}
.theme-container {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 20px;
    flex-wrap: wrap;
  }
  .mat-mdc-card-header {
    display: block;}

  @media screen and (max-width: 600px) {
    .theme-container {
      flex-wrap: no-wrap;
      gap: 10px;
    }
  }
  
  .theme-card {
    max-width: 300px;
    text-align: center;

    /* max-width: 47% */
  }
  img{
    height: -webkit-fill-available
  }
  .mdc-card__actions{
justify-content: center
  }
  @media screen and (max-width: 480px) {
    .mat-mdc-card-header {
      display: block;
      padding: 0;
    }
    .theme-card {
      padding: 0;
      margin: 0;
      text-align: center;
      max-width: 47%
    }
  }
  
@media screen and (max-width: 430px) {

  .header h2 {
    font-size: x-large;
  }
}