.mat-dialog-title {
    margin-bottom: 10px;
  }
img{
    width: 50%;
    width: -webkit-fill-available;
}
  .mat-dialog-content {
    border: 1px solid #ccc;
  }

  @media screen and (max-width: 600px) {
    .mat-dialog-content {
      max-width: 500px;
    }
  }