<div class="arlo">
    <div class="arlo-page-title arlo-font-primary">
      <h2>Event Flow</h2>
    </div>
  
    <div id="upcoming-events-list1">
      <div *ngFor="let event of events" class="arlo-event-listitem mat-elevation-z2">
        <div class="left">
          <!-- <div class="date">{{ event.StartDateTime | date:'EEE, dd MMM yyyy' }}</div> -->
          <div class="time">{{ event.StartDateTime | date:'h:mm a' }} - {{ event.EndDateTime | date:'h:mm a' }}</div>
          <div class="location">{{ event.Location.IsOnline ? 'Online' : event.Location.Name }}</div>
        </div>
        <div class="middle">
          <h3>{{ event.Name }}</h3>
          <div class="summary">{{ event.Summary }}</div>
          <div *ngIf="event.Presenters.length > 0" class="presenters">
            <span class="presenterlabel">Presented By </span>
            <span class="presenter">{{ event.Presenters.join(', ') }}</span>
          </div>
        </div>
        <div class="right">
          <div class="duration">
            <span class="label"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
            <span class="content">{{ event.Duration }}</span>
          </div>
          <div class="offers">
            <!-- Display event offers using Angular Material components -->
            <ul>
              <li *ngFor="let offer of event.Offers">
                <span class="arlo-offer-label">Standard</span>
                <span class="arlo-offer-amount">{{ offer.Amount }}</span>
                <span class="arlo-offer-message">{{ offer.Message }}</span>
              </li>
            </ul>
          </div>
          <div class="registration">
            <button mat-raised-button color="primary" [routerLink]="['/register', event.id]">Register Now</button>
            <button mat-raised-button color="accent" [routerLink]="['/details', event.id]">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  