.header h2 {
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    color: #6EC1E400;
    letter-spacing: 4.01px;
    -webkit-text-stroke-width: 3px;
    stroke-width: 11px;
    -webkit-text-stroke-color: steelblue;
    stroke: #ffffff;
}

.contact-card {
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.contact-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contacts-title {
    text-align: center;
}
.img-div :hover{
    filter: drop-shadow(1px 2px 0px black);
    /* transform: rotateY(180deg); */
}
.contact-image {
    width: 100px;
    height: 100px;
    border: 5px double #4682b452;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    /* margin-right: 10px; */
}

.contact-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.contact-info p {
    margin: 0;
    font-size: 1rem;
    color: #777;
}

.contact-card button{
display: none;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px; /* Negative margin to offset spacing between columns */
  }
  
  .col-lg-4,
  .col-md-6,
  .col-sm-12 {
    padding: 0 5px; /* Adjust the spacing between columns */
  }
  
@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .contact-card {
        padding: 0.5rem; /* Reduce the margin for smaller screens */
        min-height: 90%;

    }
  
}

@media screen and (max-width: 430px) {

    .header h2 {
        font-size: x-large;
    }
    .contact-card button{
        display: inline-block;
        }
}