<div class="header">
    <h2> Important Contacts</h2></div>
    <!-- Student Contacts -->
    <!-- <img src="https://i.ibb.co/Mp1t72x/kratika-Tiwari-card.png" alt=""> -->
    <h2 class="contacts-title">Student Contacts</h2>
    <div class="row justify-content-center custom-row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let contact of studentContacts1">
        
        <mat-card class="contact-card">
          <mat-card-content style="padding: 0;">
            <div class="contact-content text-center">
              <div class="img-div">

                <img class="contact-image" src="{{contact.img}}" alt="{{contact.name}}">
              </div>
              <h3>{{contact.name}}</h3>
              <p>{{contact.phone}}</p>
              <a href="tel:{{contact.phone}}" class="call-button">
              <button mat-raised-button>
                Call
                <mat-icon>call</mat-icon>
              </button>
              </a>
            </div>
          </mat-card-content>
         
        </mat-card>
      </div>
    </div>

    <div class="row justify-content-center custom-row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let contact of StudentGirls">
        
        <mat-card class="contact-card">
          <mat-card-content style="padding: 0;">
            <div class="contact-content text-center">
              <div class="img-div">

                <img class="contact-image" src="{{contact.img}}" alt="{{contact.name}}">
              </div>
              <h3>{{contact.name}}</h3>
              
             
            </div>
          </mat-card-content>
         
        </mat-card>
      </div>
    </div>

    <div class="row justify-content-center custom-row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let contact of studentContacts">
        <mat-card class="contact-card" style="min-height: 95%;">
          <mat-card-content style="padding: 0;">
            <div class="contact-content text-center">
              <div class="img-div">

                <img class="contact-image" src="{{contact.img}}" alt="{{contact.name}}">
              </div>
              <h3>{{contact.name}}</h3>
              <p>{{contact.phone}}</p>
              <a href="tel:{{contact.phone}}" class="call-button">
              <button mat-raised-button>
                Call
                <mat-icon>call</mat-icon>
              </button>
              </a>
            </div>
          </mat-card-content>
         
        </mat-card>
      </div>
    </div>
  
    <!-- Faculty Contacts -->
    <h2 class="contacts-title">Faculty Contacts</h2>
<div class="row justify-content-center custom-row">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let contact of facultyContacts">

        <mat-card class="contact-card">
          <mat-card-content style="padding: 0;">
            <div class="contact-content text-center">
              <!-- <img class="contact-image" src="https://via.placeholder.com/100x100" alt="{{contact.name}}"> -->
              <h3>{{contact.name}}</h3>
              <!-- <p>{{contact.phone}}</p> -->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
