<!-- <app-admin></app-admin>
<app-home></app-home>
<br>
<hr> -->

<router-outlet>

</router-outlet>
<footer>
  <div>
    <!-- <div>
      <a href="https://forms.gle/KdFzBHxLw8E77X7TA">
        
        <img src="https://i.ibb.co/LpStdtM/728x90-banner-ad-blackr-hire.png" alt="" style="display: block;
      width: 100%;
      max-width: 500px;
      margin: auto;">
      </a>
    </div> -->
    <p style="margin-left: 5px;margin-top: 5rem;"><a href="https://blackrindustries.weebly.com/"
        style="color: #ffc107; text-decoration: none;">BlackR Industries
        <sup>©</sup></a></p>
  </div>
</footer>