<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav role navigation>
   <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
<app-headnav (sidenavToggle)="sidenav.toggle()"></app-headnav> -->
 
<!-- <router-outlet></router-outlet> -->
  <!-- </mat-sidenav-content> -->

<!-- </mat-sidenav-container> -->
<app-home></app-home>

<footer class="footercontainer text-white py-3">
  <!-- <div class="container">
       <div class="row">
         <div class="col-md-6">
           <a href="https://blackrindustries.weebly.com/">
             <h2 class="mb-0">Contact Us</h2>
           </a>
         </div>
       </div> -->

  <!-- <div class="col-md-6"> -->
  <!-- Add the form here using Angular Material components -->
  <!-- <div class="row mt-3">
             <div class="col-md-6">
               <form (ngSubmit)="onSubmit()">
                 <div class="mb-3">
                   <input type="text" class="form-control" id="name" placeholder="Full Name" [(ngModel)]="name" name="name" required>
                 </div>
                 <div class="mb-3">
                   <input type="text" class="form-control" id="email" placeholder="Email / Phone No" [(ngModel)]="email" name="email" required>
                 </div>
                 <div class="mb-3">
                   <textarea type="text" class="form-control" id="comments" placeholder="comments" [(ngModel)]="comments" name="comments"></textarea>
                 </div>
                 <button type="submit" class="btn btn-secondary">Send</button>
               </form> -->
  <div>
    <p><a href="https://blackrindustries.weebly.com/" style="color: #ffc107; text-decoration: none;">BlackR Industries
        <sup>©</sup></a></p>
  </div>
</footer>
