<section id="schedule" class="section-with-bg">
  <div class="container wow fadeInUp">
    <div class="header">
      <h2>Schedule</h2>
    </div>



    <!-- <mat-card class="schedule-card">
            <mat-card-content>
            <mat-card-title style="text-align: center;">
              Notice !
            </mat-card-title>
              <hr>
              <ul>
                <li>Event Length - 8 hours</li>
                <li>Mentor - 01 mentor will be allowed (Faculty member)</li>
                <li>Round 2 candidates scrutinized in round one will be participating here it will be of six hours
                  (Problem Statement)
                </li>
              </ul>
            </mat-card-content>
          </mat-card> -->

    <!-- Existing content here, like the nav-tabs and schedule items -->



    <ul class="nav nav-tabs" role="tablist" style="margin-top: 5vh;">
      <li class="nav-item">
        <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1<h6>26 September</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2 <h6>27 September</h6></a>
      </li>
    </ul>
    
    <div class="tab-content row justify-content-center">
    
      <!-- Schedule Day 1 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
    
        <!-- Round 1 -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://img.freepik.com/free-psd/happy-man-solving-puzzle-isolated-background_1150-65021.jpg?"
                alt="schedule icon">
            </div>
            <h4>Round 1</h4>
            <p>
              Teams will participate in a PPT presentation based on the selected problem statement. Out of these presentations, 20 finalist teams will be chosen for the next round. (Names of finalists will be announced in Round 2).
            </p>
          </div>
        </div>
    
        <!-- Round 2 -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img
                src="https://img.freepik.com/free-psd/megaphone-isolated-3d-render-icon-illustration_439185-11706.jpg?"
                alt="schedule icon">
            </div>
            <h4>Round 2</h4>
            <p>
              Finalists will participate in the second round, where they will create and submit their work flow on the spot.
            </p>
          </div>
        </div>
    
      </div>
      <!-- End Schedule Day 1 -->
    
      <!-- Schedule Day 2 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade" id="day-2">
    
        <!-- Round 1 -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://static.vecteezy.com/system/resources/previews/018/842/631/non_2x/3d-badge-winner-for-1st-first-place-winner-awards-and-champion-prizes-3d-rendering-free-png.png"
                alt="schedule icon">
            </div>
            <h4>Round 1</h4>
            <p>
              Round 1 will last for two hours.
            </p>
          </div>
        </div>
    
        <!-- Round 2 -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img
                src="https://static.vecteezy.com/system/resources/previews/018/842/766/original/3d-badge-winner-for-2nd-second-place-winner-awards-and-champion-prizes-3d-rendering-free-png.png"
                alt="schedule icon">
            </div>
            <h4>Round 2</h4>
            <p>
              Finalists scrutinized in round one will participate in the second round, which will last for six hours.
            </p>
          </div>
        </div>
      </div>
      <!-- End Schedule Day 2 -->
    </div>
    

  </div>
</section>