<section id="schedule" class="section-with-bg">
  <mat-card class="schedule-card">
    <mat-card-content>
      

      <mat-card-title>
        <a href="https://forms.gle/HBkuoGdZKo5jxANfA">Don't Miss This Big Opportunity</a>
      </mat-card-title>
      <hr>
      <mat-card-subtitle>
        <p href="https://forms.gle/HBkuoGdZKo5jxANfA">Event Powered by:</p>
      </mat-card-subtitle>

      <a href="http://www.cybrom.com/" target="_blank">
        <img src="https://ik.imagekit.io/blackr/cybrom_long.png?" traget="" alt="cybrom logo" style="width: 18rem;">
      </a>
    </mat-card-content>
  </mat-card>
<br>
  <div class="container">
    <article class="schedule-content">
      <h2 style="text-align: center;">Schedule</h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1<h6>13 October</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2 <h6>14 October</h6></a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- Schedule Day 1 -->
        <div role="tabpanel" class="tab-pane fade show active" id="day-1">
          <div class="schedule-item">
            <time>10:00 AM - 04:00 PM</time>
            <div class="schedule-details">
              <!-- <div class="speaker">
                <img src="https://img.freepik.com/free-psd/happy-man-solving-puzzle-isolated-background_1150-65021.jpg" alt="schedule icon">
              </div> -->
              <h4>Report to Registration Desk with all team members</h4>
              <p>
                Presentation and Demonstration of implemented work:
              </p>
              <ul>
                <li>15 minutes Presentation time</li>
                <li>10 minutes Representation of implemented work</li>
                <li>5 minutes Q&A</li>
              </ul>
              <p>Result will be declared on the same day on portal</p>
              <p>Maximum teams will go to second round on day 2</p>
            </div>
          </div>
        </div>
        <!-- End Schedule Day 1 -->

        <!-- Schedule Day 2 -->
        <div role="tabpanel" class="tab-pane fade" id="day-2">
          <div class="schedule-item">
            <time>10:00 AM - 04:00 PM</time>
            <div class="schedule-details">
              <!-- <div class="speaker">
                <img src="https://img.freepik.com/free-psd/megaphone-isolated-3d-render-icon-illustration_439185-11706.jpg" alt="schedule icon">
              </div> -->
              <h4>Selected teams report to venue up to 9:30 am.</h4>
              <p>Selected teams will receive challenges on the second day.</p>
              <ul>
                <li>Team has to complete task within 3:00 hours.</li>
                <li>Result will be declared on the same day.</li>
                <ul>
                  </ul></ul>
                </div>
              <p><b>During Valedictory, All prizes and certificates will be distributed.</b></p>
              <p>Evaluation based on combined performance of Day 1 & Day 2.</p>
          </div>
        </div>
        <!-- End Schedule Day 2 -->
      </div>
    </article>
  </div>
</section>