<section id="schedule" class="section-with-bg">
  <mat-card class="schedule-card" style="text-align: center;">
    <mat-card-content>
      <mat-card-title>
        <!-- Notice ! -->
        <a href="https://forms.gle/HBkuoGdZKo5jxANfA">

          Hurry Up and Register
        </a>
      </mat-card-title>
      <hr>

      <p style="color: black;">

        Team Size : 5 Members + 1 Mentor
      </p>
      <!-- <ul>
        <li>Event Length - 8 hours</li>
        <li>Mentor - 01 mentor will be allowed (Faculty member)</li>
        <li>Round 2 candidates scrutinized in round one will be participating here it will be of six hours
          (Problem Statement)
        </li>
      </ul> -->
    </mat-card-content>
  </mat-card>
  <br>
  <div class="container wow fadeInUp">
    <div class="header">
      <h2>Schedule</h2>
    </div>







    <ul class="nav nav-tabs" role="tablist" style="margin-top: 5vh;">
      <li class="nav-item">
        <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1<h6>26 September</h6></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2 <h6>27 September</h6></a>
      </li>
    </ul>

    <div class="tab-content row justify-content-center">

      <!-- Schedule Day 1 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

        <!-- Round 1 -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="https://img.freepik.com/free-psd/happy-man-solving-puzzle-isolated-background_1150-65021.jpg?"
                alt="schedule icon">
            </div>
            <b> Report to Registration Desk with all team members
            </b>
            <p>
              Presentation and Demonstration of implemented work:
            </p>
            <ul style="margin-left: 20%;">
              <li>

                15 minutes Presentation time
              </li>
              <li>

                10 minutes Representation of implemented work
              </li>
              <li>

                5 minutes QA
              </li>
            </ul>
            <p>

              Selected teams will receive challenges on second day. Day 1 Result will be displayed on portal.
            </p>
          </div>
        </div>



      </div>
      <!-- End Schedule Day 1 -->

      <!-- Schedule Day 2 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade" id="day-2">

        <!-- Round 1 -->
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM - 04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img
                src="https://img.freepik.com/free-psd/megaphone-isolated-3d-render-icon-illustration_439185-11706.jpg?"
                alt="schedule icon">
            </div>

            <b>

              Selected teams report to venue up to 9:30 am.
            </b>
            <p>

              Team have to complete task within 3:30 hours.
            </p>
            <p>Result will be declared on same day.</p>
          </div>
        </div>



      </div>
      <!-- End Schedule Day 2 -->
    </div>


  </div>
</section>