/* Global Styles */
a {
  text-decoration: none;
  color: red;
}

/* Schedule Card Styles */
.tab-content{
  max-width: 600px;
  margin: auto;
}
.schedule-card {
  text-align: center;
  background-color: #ffffff;
  color: steelblue;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.schedule-card hr {
  margin: 10px 0;
}

/* Schedule Content Styles */

.schedule-content h2 {
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
  color: #6EC1E400;
  letter-spacing: 4.01px;
  -webkit-text-stroke-width: 3px;
  stroke-width: 11px;
  -webkit-text-stroke-color: steelblue;
  stroke: #ffffff;
}

/* Navigation Tabs Styles */
.nav.nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}

.nav.nav-tabs li {
  display: inline-block;
  margin: 0.4%;
}

.nav.nav-tabs a {
  border: none;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 2vh 7vw;
}

.nav.nav-tabs a.active {
  background-color: #3f71d7;
  color: #fff;
}

/* Schedule Item Styles */
.schedule-item {
  border-radius: 10px;
  border-bottom-style: groove;
  border-bottom: 1px solid #cad4f6;
  color: steelblue;
  padding: 15px;
  margin: 0 -0.25rem;
  transition: color 0.5s ease-in-out, background-color 0.4s ease-in-out;
}

.schedule-item:hover {
  color: black;
  background-color: rgba(218, 214, 214, 0.336);
}

.schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}

.schedule-item .speaker {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}

.schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}

.schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.schedule-item h4 span {
  font-style: normal;
  color: black;
  font-weight: normal;
  font-size: 16px;
}

.schedule-item p {
  font-style: normal;
  color: black;
  margin-bottom: 0;
}

h6 {
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 430px) {
  .schedule-content h2 {
    font-size: x-large;
  }
}
