<main>
  <img class="header-image" src="https://oistbpl.com/images/oist-logo-1.png" alt="">
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <a href="https://oistbpl.com/">

        <img src="https://i.ibb.co/WfGjFTn/240016106-349321013549047-1696668530386214491-n-removebg-preview.png"
          alt="OIST logo">
      </a>

      <h1 style="color: #72a8ff; font-family: 'Space Mono', monospace;
         font-weight: 400; font-size: xx-large;">
        Oriental Hackathon 2k23
      </h1>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="supporter-logo">
          <p>Event Powered by</p>
          <a href="http://www.cybrom.com/" target="_blank">
            <img src="https://ik.imagekit.io/blackr/cybrom_long.png?" traget="" alt="cybrom logo" style="width: 18rem;">
          </a>
        </div>
      </div>
      <br>
      <p style="font-size: medium;">Organised by Department of IT, CSE, AIML, CSBS & CSDS
        <br> Oriental Institute of Science & Technology, Bhopal
      </p>
    </div>
  </section>
  <br>

  <mat-card class="header-card">
    <mat-card-title style="font-size: x-large; font-family: fantasy; color: steelblue;">
      National Level <br> Hackathon
    </mat-card-title>
    <mat-card-subtitle>
      13 - 14 October 2023
    </mat-card-subtitle>
  </mat-card>
  <div class="nav-btn">
    <div style="border-bottom: inset; border-top: outset; ">

      <!-- <button mat-button routerLink="#sponsors" (click)="scrollToSection('sponsors')">
         <mat-icon matPrefix>supervisor_account</mat-icon> Sponsors
       </button> -->

      <button mat-button routerLink="#schedule" (click)="scrollToSection('schedule')">
        <mat-icon matPrefix>event</mat-icon> Schedule
      </button>

      <!-- <button mat-button routerLink="events">
         <mat-icon matPrefix>event_note</mat-icon> Events
       </button>
        -->
      <button mat-button routerLink="#theme" (click)="scrollToSection('theme')">
        <mat-icon matPrefix>tips_and_updates</mat-icon> Theme
      </button>

      <button mat-button routerLink="#faq" (click)="scrollToSection('faq')">
        <mat-icon matPrefix>help_outline</mat-icon> FAQ
      </button>

      <button mat-button routerLink="#contact" (click)="scrollToSection('contact')">
        <mat-icon matPrefix>perm_contact_calendar </mat-icon> Contact
      </button>
      <!-- <button mat-button routerLink="#apply" (click)="scrollToSection('apply')">
        <mat-icon matPrefix>assignment_turned_in</mat-icon> Apply
      </button> -->
      <button mat-button routerLink="#venue" (click)="scrollToSection('venue')">
        <mat-icon matPrefix>share_location </mat-icon> Venue
      </button>

      <button mat-button routerLink="#about-us" (click)="scrollToSection('about-us')">
        <mat-icon matPrefix>contacts</mat-icon> About us
      </button>
    </div>
  </div>



  <mat-card class="count-down-timer" style="text-align: center;">
    <h1 style="color: steelblue; margin: 0; "> <b>

        Register Before <i class="fa-solid fa-clock fa-spin"></i>
      </b>
    </h1>


    <mat-card-content>
      <div class="wrapper">
        <h2>
          Sep 30 2023
        </h2>
        <div class="description">
          <p>{{ days }} <br>Days</p>
          <p>{{ hours }} <br>Hours</p>
          <p>{{ minutes }} <br>Min</p>
          <p>{{ seconds }} <br>Sec</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>

  <div class="header">
    <h2>🏆 Prize 🏆</h2>
  </div>
  <br>
  <div class="prize-container" style="overflow-y: hidden; overflow-x: hidden;">
    <div class="prize-image" style="align-items: center;">
      <img src="https://i.ibb.co/pK9yPYV/First-Prize.png" alt="First Prize" border="0" class="First-Prize">
    </div>

    <div class="prize-image">
      <img src="https://i.ibb.co/8jgrG0B/Second-Prize.png" alt="Second Prize" border="0" class="Second-Prize"
        style="float: right;">
    </div>
<br>
    <div >

      <img src="https://i.ibb.co/44sCJFt/Scholarship-Banner-Oisthack.gif" alt="Second Prize" border="0" style="    margin: auto;
      display: flex; width: 80%;">
    </div>

    <div >

      <img src="https://i.ibb.co/643mJkz/Exiting-prizes-Banner-Oisthack.gif" alt="Second Prize" border="0" style="    margin: auto;
      display: flex; width: 80%;">
    </div>  <div >

      <img src="https://i.ibb.co/JdbTCc1/Carrer-Banner-Oisthack.gif" alt="Second Prize" border="0" style="    margin: auto;
      display: flex; width: 80%;">
    </div>
  </div>
<br><br>

  <div class="center-container">
    <mat-card class="custom-card">
      <mat-card-title style="text-align: center;">Registration Amount</mat-card-title>
      <div class="card-content">
        <div class="left-content">
          <h2>800₹ Only</h2>

        </div>
        <div class="right-content">
          <img src="https://i.ibb.co/MsGQHvz/Payment-Oist-hack.png" alt="QR Code">
        </div>
        
      </div>
    <mat-card-content>
      <p>

        Save transaction and click on  
        <a href="https://forms.gle/HBkuoGdZKo5jxANfA">
          
          Apply Now
        </a>
      </p>
    </mat-card-content>
    </mat-card>
  </div>



  <section id="schedule">
    <app-schedule></app-schedule>
  </section>
  <section id="theme">
    <app-theme></app-theme>
  </section>
  <section id="contact">
    <app-contact></app-contact>
  </section>
  <br>

  <section id="venue" style="padding:20px 40px 30px 40px; ">
    <div class="header" id="venue">
      <h2>Event Venue</h2>
      <p style="text-align: center;" class="mb-4 pb-0">Oriental Institute Of Science And Technology, Raisen Rd, opp.
        Patel Nagar, Patel Nagar, Bhopal,
        Madhya Pradesh 462022</p>
    </div>
    <div class="venue-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.8474768268848!2d77.50004501489492!3d23.24863668483905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c41e4394f4f87%3A0xb3bba34206ce5dec!2sOriental%20Institute%20of%20Science%20%26%20Technology%20-%20Top%20Engineering%20Colleges%20in%20Bhopal!5e0!3m2!1sen!2sin!4v1676997430786!5m2!1sen!2sin"
        frameborder="0" style="border: 0" allowfullscreen></iframe>
    </div>
  </section>
  <section id="faq">
    <app-faq></app-faq>
  </section>
  <br>



  <section id="apply" class="apply">
    <a href="https://forms.gle/HBkuoGdZKo5jxANfA" target="_top">
      <button (click)="trackMe()" class="apply-btn" mat-raised-button style="color: white; background-color: #9c5dff;">
        Apply Now <i class="fa-solid fa-bars-staggered"></i> </button>
    </a>
  </section>

  <section id="about-us">
    <app-about></app-about>
  </section>

</main>