<main>
  <img class="header-image"  src="https://oistbpl.com/images/oist-logo-1.png" alt="">
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <a href="https://oistbpl.com/">

        <img src="https://i.ibb.co/WfGjFTn/240016106-349321013549047-1696668530386214491-n-removebg-preview.png"
          alt="OIST logo">
      </a>

      <h1 style="color: #72a8ff; font-family: 'Space Mono', monospace;
         font-weight: 400; font-size: xx-large;">
        Oriental Hackathon 2k23
      </h1>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="supporter-logo">
          <p>Event Powered by</p>
          <a href="http://www.cybrom.com/" target="_blank">
            <img src="https://ik.imagekit.io/blackr/cybrom_long.png?" traget="" alt="cybrom logo" style="width: 18rem;">
          </a>
        </div>
      </div>
      <br>
      <p style="font-size: medium;">Organised by
        Department of Information Technology, Oriental Institute of Science & Technology, Bhopal</p>
    </div>
  </section>
  <br>
  <mat-card class="header-card">
    <mat-card-title style="font-size: x-large; font-family: fantasy; color: steelblue;">
      National Level <br> Open Hackathon
    </mat-card-title>
    <mat-card-subtitle>
      26 - 27 September 2023
    </mat-card-subtitle>
  </mat-card>
  <div class="nav-btn">
    <div style="border-bottom: inset">
      <!-- <button mat-button routerLink="#sponsors" (click)="scrollToSection('sponsors')">
         <mat-icon matPrefix>supervisor_account</mat-icon> Sponsors
       </button> -->

      <button mat-button routerLink="#schedule" (click)="scrollToSection('schedule')">
        <mat-icon matPrefix>event</mat-icon> Schedule
      </button>

      <!-- <button mat-button routerLink="events">
         <mat-icon matPrefix>event_note</mat-icon> Events
       </button>
        -->
      <button mat-button routerLink="#theme" (click)="scrollToSection('theme')">
        <mat-icon matPrefix>tips_and_updates</mat-icon> Theme
      </button>

      <button mat-button routerLink="#faq" (click)="scrollToSection('faq')">
        <mat-icon matPrefix>help_outline</mat-icon> FAQ
      </button>

      <button mat-button routerLink="#contact" (click)="scrollToSection('contact')">
        <mat-icon matPrefix>perm_contact_calendar </mat-icon> Contact
      </button>
      <!-- <button mat-button routerLink="#apply" (click)="scrollToSection('apply')">
        <mat-icon matPrefix>assignment_turned_in</mat-icon> Apply
      </button> -->
      <button mat-button routerLink="#venue" (click)="scrollToSection('venue')">
        <mat-icon matPrefix>share_location </mat-icon> venue
      </button>
    </div>
  </div>



  <mat-card class="count-down-timer" style="text-align: center;">
    <h1 style="color: steelblue; margin: 0; "> <b>

      Register Before <i class="fa-solid fa-clock fa-spin"></i>
      </b>
    </h1>
  

    <mat-card-content>
      <div class="wrapper">
        <h2>
          Sep 15 2023 
        </h2>
        <div class="description">
          <p>{{ days }} <br>Days</p>
          <p>{{ hours }} <br>Hours</p>
          <p>{{ minutes }} <br>Min</p>
          <p>{{ seconds }} <br>Sec</p>
        </div>
        <!-- <div class="times">
          <mat-progress-bar [value]="days" max="30" style="width: 100%; height: 2rem; margin-left: 0">
            <span>{{ days }}</span>
          </mat-progress-bar>

          <mat-progress-bar [value]="hours" max="24" style="width: 100%; height: 2rem">
            <span>{{ hours }}</span>
          </mat-progress-bar>
          <mat-progress-bar [value]="minutes" max="60" style="width: 100%; height: 2rem">
            <span>{{ minutes }}</span>
          </mat-progress-bar>
          <mat-progress-bar [value]="seconds" max="60" style="width: 100%; height: 2rem">
            <span>{{ seconds }}</span>
          </mat-progress-bar>
        </div> -->
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <div class="header">
    <h2>🏆 Prize 🏆</h2>
  </div>
  <br>
  <div class="block-container">
    <mat-card class="block">
      <h3>1st Prize</h3>
      <p>51,000 ₹</p>
      <!-- <img src="https://static.vecteezy.com/system/resources/previews/008/854/767/original/3d-first-winner-medal-icon-illustration-png.png" alt="First prize OIST Hackathon"> -->
      <img
        src="https://static.vecteezy.com/system/resources/previews/008/854/754/original/3d-first-winner-medal-icon-illustration-png.png"
        alt="First prize OIST Hackathon">

    </mat-card>

    <mat-card class="block">
      <h3>Runner Up</h3>
      <p>21,000 ₹</p>
      <img
        src="https://static.vecteezy.com/system/resources/previews/009/312/979/original/3d-star-medal-icon-illustration-png.png"
        alt="Second prize OIST Hackathon">
    </mat-card>


  </div>
  <mat-card class="count-down-timer" style="text-align: center;">
    <h1 style="color: steelblue; margin: 0; "> <b>

      Scholarship  <i class="fa-solid fa-graduation-cap"></i>
      </b>
    </h1>
    <h1>Up to 1,00,000 ₹</h1>
</mat-card>
 




  <!-- <a href="https://m.paytm.me/ogic_nrweb">
       <div style="--glow-color: hsl(186 100% 69%); text-align: center; max-width: 80vw; margin: auto; ">
         <a style="text-align: center;" href="https://m.paytm.me/ogic_nrweb" class="about-btn scrollto">Click Below To Register</a>
         <br><br>
         <button class='glowing-btn'><span class='glowing-txt'>Re<span class='faulty-letter'>gister</span> Now!</span></button>
       </div>
     </a> -->

  <!-- Add the events, sponsors, schedule, and FAQ components here -->
  <!-- <app-events></app-events> -->
  <!-- <section id="sponsors">
        <app-sponsors></app-sponsors>
      </section> -->

  <section id="schedule">
    <app-schedule></app-schedule>
  </section>
  <section id="theme">
    <app-theme></app-theme>
  </section>
  <section id="contact" style="padding:20px 0 30px 0; ">
    <div class="header">
      <h2>Contact</h2>
    </div>
    <mat-card style="width: 80%; max-width: 500px; margin: auto; text-align: center;">
      <mat-card-title>
        Important contacts
      </mat-card-title>
      <i class="fa-solid fa-chalkboard-user"></i>
      <p>
        Student cordinators 
        <br> - .....................................
      </p><i class="fa-solid fa-person-chalkboard"></i>
      <p>
        Faculty cordinators 
        <br>- .........................................
      </p><i class="fa-solid fa-hotel"></i>
      <p>
        Hostel Booking
        <br> - .........................................
      </p>
    </mat-card>
  </section>
  <br>
  <section id="faq" style="padding:20px 0 30px 0; ">
    <app-faq></app-faq>
  </section>

  <!-- <section id="apply">
    <app-apply></app-apply>
  </section> -->
  <section id="venue" style="padding:20px 0 30px 0; ">
    <div class="header" id="venue">
      <h2>Event Venue</h2>
      <p style="text-align: center;" class="mb-4 pb-0">Oriental Institute Of Science And Technology, Raisen Rd, opp.
        Patel Nagar, Patel Nagar, Bhopal,
        Madhya Pradesh 462022</p>
    </div>
    <div class="venue-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.8474768268848!2d77.50004501489492!3d23.24863668483905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c41e4394f4f87%3A0xb3bba34206ce5dec!2sOriental%20Institute%20of%20Science%20%26%20Technology%20-%20Top%20Engineering%20Colleges%20in%20Bhopal!5e0!3m2!1sen!2sin!4v1676997430786!5m2!1sen!2sin"
        frameborder="0" style="border: 0" allowfullscreen></iframe>
    </div>
  </section>
  <br>
  <section id="apply" class="apply">
    <a href="https://i.ibb.co/7z65YT6/947b874e-d38a-4a67-9b0a-3c2a4b207a2f.jpg" target="_top">
      <button (click)="trackMe()" class="apply-btn" mat-raised-button style="color: white; background-color: #9c5dff;"> Apply Now <i
          class="fa-solid fa-bars-staggered"></i> </button>
    </a>
  </section>
  <ng-adsense
  [adClient]="'ca-pub-7689491302137996'"
  [adSlot]="2302512209"
  [display]="'inline-block'"
  [width]="320"
  [height]="108"
></ng-adsense>

</main>