<div class="sectionsponsor-header" id="sponsor">
    <h2>Our Sponsors</h2>
  </div>
  
  <main>
    <!-- Other sections (intro, buttons, etc.) here -->
  
    <div class="sponsors-container">
      <!-- Replace the following divs with Angular Material cards for each sponsor -->
      <div class="sponsor-card">
        <img src="https://ik.imagekit.io/blackr/cybrom_long.png" alt="Sponsor 1">
      </div>
      <div class="sponsor-card">
        <img src="https://blackrindustries.weebly.com/uploads/1/3/0/0/130053233/images.jpg" alt="Sponsor 2">
      </div> <div class="sponsor-card">
        <img src="https://blackrindustries.weebly.com/uploads/1/3/0/0/130053233/images.jpg" alt="Sponsor 2">
      </div> <div class="sponsor-card">
        <img src="https://blackrindustries.weebly.com/uploads/1/3/0/0/130053233/images.jpg" alt="Sponsor 2">
      </div>
      <!-- Add more sponsor-card divs for additional sponsors -->
    </div>
  
    <!-- Other sections (venue, footer, etc.) here -->
  </main>
  