<mat-nav-list (click)="onClose()">
    
    <mat-list-item mat-list-item routerLink="sponsors">
      <button mat-button>
        <mat-icon matPrefix>supervisor_account</mat-icon> Sponsors
      </button>
    </mat-list-item>
  
    <mat-list-item mat-list-item routerLink="schedule">
      <button mat-button>
        <mat-icon matPrefix>event</mat-icon> Schedule
      </button>
    </mat-list-item>
  
    <mat-list-item mat-list-item routerLink="events">
      <button mat-button>
        <mat-icon matPrefix>event_note</mat-icon> Events
      </button>
    </mat-list-item>
  
    <mat-list-item mat-list-item routerLink="theme">
      <button mat-button>
        <mat-icon matPrefix>palette</mat-icon> Theme
      </button>
    </mat-list-item>
  
    <mat-list-item mat-list-item routerLink="faq">
      <button mat-button>
        <mat-icon matPrefix>help_outline</mat-icon> FAQ
      </button>
    </mat-list-item>
  
    <mat-list-item mat-list-item routerLink="apply">
      <button mat-button>
        <mat-icon matPrefix>assignment_turned_in</mat-icon> Apply
      </button>
    </mat-list-item>
  </mat-nav-list>
  