a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgrey;
}

.material-icons {
  background: #008eff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shop-icon {
  background: #f3aa21;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
